@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: "Sriracha", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: var(--font1);
    background-color: lightgray;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 8vw;
}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
    color: yellow;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--font3);
    padding-left: 30px;
    font-size: 2.5vw;
}

.imagem > p{
    background-color: rgba(0, 0, 0, 0.274);
    max-width: 430px;
    padding: 10px;
    display: inline-block;

}


.normal{
    color: rgb(0, 0, 0);
    background-color: white;
}

.imagem{
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}









footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}


